<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="phonebook">
    <meta name="author" content="Olivia Bruce">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/blue-white-pearls-icons-food-beverage/056572-blue-white-pearl-icon-food-beverage-food-tomatoe-sc44.png" sizes="32x32">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>