.phonebook__contact-view {
  border-left: solid 2px $color-secundary;

  .contact__preview {
    text-align: center;
  }

  img {
    margin-top: 1em;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: fadein 4s;
    background-color: bisque;
    transition: opacity 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  &.empty__view {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__icon {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    background: $color-secundary;
  }

  .contact__info {
    padding: 1em;
  }

  .contact__info>div {
    margin: 1em 0;
  }

  input {
    background: transparent;
    margin-left: 0.5em;
    padding: 0.5em 0.5em;
    outline: transparent;
    border: none;
    border-bottom: 1px solid $color-secundary;
    color: $color_text;
    font-size: 1.1em;
  }

  .action__row {
    padding: 1em;
    text-align: center;

    button {
      cursor: pointer;
      border: 1px solid $color-secundary;
      background-color: transparent;
      width: 60px;
      height: 60px;
      font-size: 1em;
      border-radius: 50px;
      margin: 0 1em;
      outline-width: 1px;
      color: $color-secundary;
      
      &:hover {
        background-color: $color-secundary;
        color: $color-primary;
        transition: all 1s;
      }
    }
  }
}