/* Colors */
$color_white: white;


$color_primary: #F2F4F3;
$color_secundary: #5DB7DE;
$color_accent: #DB5461;

$color_text: #0B2545;
$color_text_disable: #BDD1D3;

/* Spacing */

$spacing_div_small: 0.5em;