@import '_vars.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  list-style: none;
  
  font-family: 'Muli', sans-serif;
}

body {
  background-color: $color_primary;
  color: $color_secundary
}

.phonebook {
  display: flex;
  height: 100vh;
  min-height: 300px;
}

.phonebook__contact-view {
  flex: 1;
}
.phonebook_list {
  flex-basis: 300px;
  padding: 0 1em;
}
