@import '_vars.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  list-style: none;
  
  font-family: 'Muli', sans-serif;
}

body {
  background-color: $color_primary;
  color: $color_secundary
}

.phonebook {
  display: flex;
  height: 100vh;
  min-height: 300px;
}

.phonebook__contact-view {
  flex: 1;
}
.phonebook_list {
  flex-basis: 300px;
  padding: 0 1em;
}

.add-contact {
  position: absolute;
  left: 15px;
  bottom: 15px;
  cursor: pointer;
  border: 1px solid $color-secundary;
  background-color: transparent;
  width: 60px;
  height: 60px;
  font-size: 1em;
  border-radius: 50px;
  margin: 0 1em;
  outline-width: 1px;
  color: $color-secundary;
  
  &:hover {
    background-color: $color-secundary;
    color: $color-primary;
    transition: all 1s;
  }
}

